{% load static %}

	<!-- newsletter -->
	{% comment %} <div class="footer-top">
		<div class="container-fluid">
			<div class="col-xs-8 agile-leftmk">
				<form action="#" method="post">
					<input type="email" placeholder="E-mail" name="email" required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="newsform-w3l">
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- //newsletter --> {% endcomment %}
	
	<!-- footer -->
	<footer>
		<div class="copy-right">
			<div class="container">
				<p>© 2017 Grocery Shoppy. All rights reserved | Design by
					<a href="http://w3layouts.com"> W3layouts.</a>
				</p>
			</div>
		</div>
	
				<!-- social icons -->
				{% comment %} <div class="sub-some child-momu-center">
					<h3>Follow Us on</h3>
					<div class="social">
						<ul>
							<li>
								<a class="icon fb" href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="icon tw" href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="icon gp" href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
						</ul>
					</div>  {% endcomment %}

						{% comment %} <div class="clearfix"> </div> {% endcomment %}
					{% comment %} </div> {% endcomment %}
				{% comment %} </div> {% endcomment %}
				<!-- //social icons -->
				{% comment %} <div class="clearfix"></div> {% endcomment %}
			{% comment %} </div> {% endcomment %}
			<!-- //footer third section -->
			<!-- footer fourth section (text) -->

				<!-- payment -->
				{% comment %} <div class="sub-some child-momu">
					<h3>Payment Method</h3>
					<ul>
						<li>
							<img src="{% static 'images/pay2.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay5.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay1.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay4.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay6.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay3.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay7.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay8.png' %}" alt="">
						</li>
						<li>
							<img src="{% static 'images/pay9.png' %}" alt="">
						</li>
					</ul>
				</div> {% endcomment %}
				<!-- //payment -->
			{% comment %} </div> {% endcomment %}
			<!-- //footer fourth section (text) -->
		{% comment %} </div> {% endcomment %}
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	{% comment %} <div class="copy-right">
		<div class="container">
			<p>© 2017 Grocery Shoppy. All rights reserved | Design by
				<a href="http://w3layouts.com"> W3layouts.</a>
			</p>
		</div>
	</div> {% endcomment %}
	<!-- //copyright -->
