{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
<h2 class="text-center"> Track shipment <h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

  <!---  Show The Alert Message  ----------------------------- -->
	{% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  



<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 


{% comment %} ===================================== {% endcomment %}
<div class="container py-5">
    <div class="col">
        <h4>Enter Order Id To Track Your rder.</h4>
        <form action="{% url 'track_shipment-URL' %}" enctype="multipart/form-data"  method="POST" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="number" class="form-control mt-3" name="order_id" placeholder="Enter The Order Number">
                </div>  
                <button type="submit" id="button_track" name="button_track" class="btn btn-primary mt-4">Track Order</button>
              </form>
            </div>
    </div>

    {% comment %} 
    <div class="col my-4">
        <h4>Order Items:</h4>
        <div class="my-4">
            {% for i in order_items %}
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between ">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{forloop.counter}}. {{i.product}}</div>
                  </div>
                  <span class="badge bg-primary rounded-pill">Qty: {{i.quantity}}</span>
                </li>
              </ol>
            {% endfor %}

        </div> 
  {% endcomment %}

        {% comment %} <h4>Your Order Details:</h4>
        <div class="my-4">
            {% for i in update_order %}
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between ">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{i.desc}}</div>
                  </div>
                  <span class="badge bg-primary rounded-pill">Date: {{i.date}}</span>
                </li>
              </ol>
            {% endfor %}  {% endcomment %}


<ol class="list-group">
<li class="list-group-item d-flex justify-content-between ">
<div class="ms-2 me-auto">

  {% for shipment_track_item in shipment_track_VAR %}

  {% comment %} STEP-01-Confirmed Order {% endcomment %}
<hr>
{% if  shipment_track_item.shipment_track_confirmed_order %}
<hr>
<img src="{% static 'images/01_Confirm_Order.png' %}"    style="width: 50px; height: 50px;"> - &#x2705; Confirmed Order 
{% else %}
<hr>
<img src="{% static 'images/01_Confirm_Order.png' %}"    style="width: 50px; height: 50px;"> -  Confirmed Order 
{% endif %} 

  {% comment %} STEP-02-Processing Order {% endcomment %}
<hr>
{% if  shipment_track_item.shipment_track_Processing_order %}
<hr>
<img src="{% static 'images/02_Processing_Order.png' %}" style="width: 50px; height: 50px;" > - &#x2705; Processing Order 
{% else %}
<hr>
<img src="{% static 'images/02_Processing_Order.png' %}" style="width: 50px; height: 50px;" > -  Processing Order 
{% endif %} 

  {% comment %} STEP-03-Dispatch Product {% endcomment %}
<hr>
{% if  shipment_track_item.shipment_track_dispatch_product %}
<hr>
<img src="{% static 'images/03_Dispatch_Product.png' %}" style="width: 50px; height: 50px;"> - &#x2705; Dispatch Product
{% else %}
<hr>
<img src="{% static 'images/03_Dispatch_Product.png' %}" style="width: 50px; height: 50px;"> -  Dispatch Product
{% endif %} 

  {% comment %} STEP-04-Delivered {% endcomment %}
<hr>
{% if  shipment_track_item.shipment_track_delivery %}
<hr>
<img src="{% static 'images/04_Delivery.png' %}"          style="width: 50px; height: 50px;"> - &#x2705; Delivery       
{% else %}
<hr>
<img src="{% static 'images/04_Delivery.png' %}"          style="width: 50px; height: 50px;"> -  Delivery       
{% endif %} 

  {% comment %} STEP-05-Product Delivered {% endcomment %}
<hr>
{% if  shipment_track_item.shipment_track_Product_delivered %}
<hr>
<img src="{% static 'images/05_Product_Delivered.png' %}" style="width: 50px; height: 50px;"> - &#x2705; Product Delivered 
{% else %}
<hr>
<img src="{% static 'images/05_Product_Delivered.png' %}" style="width: 50px; height: 50px;"> -  Product Delivered 
{% endif %} 

{% empty %}

		<h5 class="alert alert-info"> There is No order With This Number  </h5>

{% endfor %} 

</div>
</li>
</ol>



{% endblock CONTENTS_PAGE %} 



<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 
