{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
    <h2 class="text-center"> Password Change  </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

	<!---  Show The Alert Message  ----------------------------- -->
	{% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  

<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 

<div class="container">    
<div id="loginbox" style="margin-top:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
<div class="panel panel-info" >
<div class="panel-heading">
<div class="panel-title">Change Password</div>
</div>     
<div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <form class="form" action="" method="POST" role="form" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password"  id="input_curent_password" name="curent_password" value="" class="form-control">
                </div>

                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" id="input_new_password" name="new_password"  class="form-control" value="">
                </div>

                <div class="form-group">
                    <label for="inputPasswordNewVerify">Confirm New Password</label>
                    <input type="password" id="input_confirm_new_password" name="confirm_new_password" class="form-control"  value="">
                </div>

                <div class="form-group d-flex">
                    <button type="submit" name="password_change_button" class="btn btn-primary btn-lg mx-2">Change</button>
                    <a class="btn btn-info btn-lg mx-2" href="{% url 'dashboard-URL'    %}">Back</a>
                </div>
            </form>

</div>
</div>
</div> 
</div>
</div>
</div> 
{% comment %} </div>
</div> {% endcomment %}


{% endblock CONTENTS_PAGE %} 



<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 
