{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
<h2 class="text-center"> Passore Reset Complete  </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

    <!---  Show The Alert Message  ----------------------------- -->
    {% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  


<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 


<div class="container">    
    <div id="loginbox" style="margin-top:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title"> Passowrd Reset Complete  -  اكتملت عملية إعادة تعيين كلمة المرور</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="password_resetHTML" class="alert alert-danger col-sm-12"></div>


    <form enctype="multipart/form-data"  method="post" novalidate>
    
<h4> Your New Password Has Been Set. You Can Login Now  </h4>
<h4> تم تعيين كلمة المرور الجديدة الخاصة بك. يمكنك تسجيل الدخول الآن</h4>


<a  href="{% url 'login-URL' %}" role="button" style="float:lieft" class="btn btn-success">Re-Login - تسجيل الدخول</a>
<!-- الدخول إلى الموقع -->
<br>
<br>
<a  href="{% url 'dashboard-URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page - الذهاب إلى الصفحة الرئيسية</a>

</div>
</div>
</div>
</div>


{% endblock CONTENTS_PAGE %} 


<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 




