{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
<h2 class="text-center"> Passore Reset </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

    <!---  Show The Alert Message  ----------------------------- -->
    {% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  


<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 


<div class="container">    
    <div id="loginbox" style="margin-top:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Forgot Password</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="password_resetHTML" class="alert alert-danger col-sm-12"></div>

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<p> هل نسيت كلمة مرورك؟ أدخل عنوان بريدك الإلكتروني أدناه ، وسنرسل إليك تعليمات عبر البريد الإلكتروني لإعداد عنوان جديد. </ p>
    <form enctype="multipart/form-data"  method="post" novalidate>

        {% csrf_token %}

        {% include  "validate_form_data/data_validation_form.html" %} 
            
        <button type="submit" class="btn btn-success">OK- موافق</button>

        <a href="{% url 'dashboard-URL'    %}" class="btn btn-info">Cancel - إلغاء</a>
        
    </form>

</div>
</div>
</div>
</div>


{% endblock CONTENTS_PAGE %} 


<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 
