{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
<h2 class="text-center"> Passore Reset Confirm  </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

    <!---  Show The Alert Message  ----------------------------- -->
    {% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  


<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 

<div class="container">    
    <div id="loginbox" style="margin-top:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title"> Password Reset Confirm </div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="password_resetHTML" class="alert alert-danger col-sm-12"></div>



{% if validlink %}
        <h5>Please Enter your New Nassword and Confirm. </h5>
        <h5>الرجاء تأكيد إدخال كلمة المرور الحديدة الخاصة بك </h5>
        <form enctype="multipart/form-data"  method="post" novalidate>
            {% csrf_token %} 
            {% comment %} {{ form|crispy }} {% endcomment %}
            {% include  "validate_form_data/data_validation_form.html" %} 
                
                <button type="submit" class="btn btn-success">Confirm - تأكيد</button>  
                <!-- Go To Home Page HTML-->
                <!-- <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'dashboard-URL' %}" class="btn btn">Go To Home Page</a>  -->
                <a  href="{% url 'dashboard-URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a><!-- الدخول إلى الموقع -->

    </form>
    
{% else %}
        <h3>Password reset failed </h3>
        <h3> فشل إعادة تعيين كلمة المرور</h3>

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset </p>
        <p>رابط إعادة تعيين كلمة المرور غيؤ صالح ربما لأنه تم إستخدامه بالفعل. الرجاء طلب إعادة تعيين كلمة مرور جديدة.</p>

{% endif %}
</div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p>Have You Lost The Password - هل فقدت كلمة المرور?<a href="{% url 'password_reset' %}"> Forgot Password? - نسيت كلمة المرور</a></p>
<p>Create New Accounts  - إنشاء حساب جديد<a href="#">Signup - تسجيل</a></p>   
</div>
</div>
</div>
</div>

{% endblock CONTENTS_PAGE %} 


<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 

