{% extends "dashboard/base.html" %}  
{% load static %}


<!---  PAGE_TITLE  ----------------------------- -->
{% block    PAGE_TITLE  %} 
<h2 class="text-center"> Passore Reset Done  </h2>
{% endblock PAGE_TITLE  %}  


<!---  MESSAGES_CONTENTS  ---------------------- -->
{% block    MESSAGES_CONTENTS  %}

    <!---  Show The Alert Message  ----------------------------- -->
    {% include 'aler_messages/alert_message.html'%}

{% endblock MESSAGES_CONTENTS  %}  


<!---  CONTENTS_PAGE --------------------------- -->
{% block    CONTENTS_PAGE %} 

<div class="container">    
    <div id="loginbox" style="margin-top:5px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Forgot Password</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="password_resetHTML" class="alert alert-danger col-sm-12"></div>
    
<h4>Check your inbox </h4>
<h4>تحقق من بريدك الألكتروني.</h4>

<!-- <h2 class="font-weight-bold mt-3">Password Reset Sent</h2> -->
<p>We've Emailed You Instructions For Setting Your Password. If They Haven't Arrived In a Few Minutes, Check Your Spam Folder (Junk Email).</p>
<p>W(البريد الألكتروني الغير هام).لقد إرسلنا إليك عبر البريد الألكتروني تعليمات حول تعيين كلمة المرور الخاصة بك. إذا لم يصلوا في غضون دقائق قليلة فتحقق من مجلد البريد العشوائي</p>

<a  href="{% url 'dashboard-URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page - الذهاب إلى الصفحة الرئيسية</a><!-- الدخول إلى الموقع -->

</div>
</div>
</div>
</div>

{% endblock CONTENTS_PAGE %} 


<!---  PAGINATION --------------------------- -->
{% block    PAGINATION %} 
{% endblock PAGINATION %} 
